@use 'keyframes' as *;

.screen-loader-container {
  background: $bg-dark-green-color;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fade-out 0.25s 1.25s ease-out forwards;

  .screen-loader-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0;
    animation: fade-in 0.5s forwards;

    .p-progressbar {
      background: $p-card-background;

      &-value {
        background: var(--main-item-secondary-color) !important;
        animation: change-background-color 1s ease-out forwards !important;

        &::before {
          animation:
            change-border-color 1s ease-out forwards,
            p-progressbar-indeterminate-anim 2.1s
              cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite !important;
          border-radius: 0.25em;
          margin: 0.125em;
        }

        &::after {
          display: none;
        }
      }
    }

    .loader-image {
      width: 150px;
      height: 150px;

      .lighter-color {
        animation: change-lighter-color 1s ease-out forwards;
      }

      .darker-color {
        animation: change-darker-color 1s ease-out forwards;
      }
    }
  }
}
